* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url("../images/background/background.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}
/*========= RESET =========*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  height: auto;
}
li { 
  list-style: none; 
}

a {
  text-decoration: none;
}

/*START HEADER*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.3rem 10%;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(50px);
}
.logo {
  font-size: 34px;
  font-weight: 700;
  text-decoration: none;
  color: white;
}
.navbar a {
  position: relative;
  font-size: 20px;
  font-weight: 500;
  color: white;
  text-decoration: none;
  margin-left: 10px;
}
.navbar a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background: white;
  border-radius: 5px;
  left: 0;
  bottom: -6px;
  transform: scaleX(0);
  transition: transform 0.5s;
}

.navbar a:hover::after {
  transform: scaleX(1);
}

.navbar .btn-login {
  font-size: 20px;
  font-weight: 500;
  color: white;
  width: 130px;
  height: 50px;
  background: transparent;
  border: 2px solid white;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  margin-left: 10px;
  transition: 0.5s;
}
.navbar .btn-login:hover {
  color: black;
  background: white;
}
#check {
  display: none;
}

.icons {
  position: absolute;
  font-size: 36px;
  color: white;
  cursor: pointer;
  display: none;
  right: 5%;
}

/*END HEADER*/

/* START FORM */
.wrapper {
  position: relative;
  max-width: 700px;
  width: 100%;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  overflow: hidden;
  margin: 120px;
}

.wrapper .icon-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 45px;
  height: 45px;
  background: black;
  color: white;
  font-size: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 20px;
  cursor: pointer;
  z-index: 1;
  text-decoration: none;
}

.wrapper .form-box {
  width: 100%;
  padding: 40px;
}

.form-box h2 {
  font-size: 24px;
  color: black;
  text-align: center;
}

.input-box {
  position: relative;
  width: 100%;
  margin: 30px 0;
  border-bottom: 2px solid black;
}
.form-box div label {
  font-size: 20px;
}
.column {
  margin-top: 24px;
  display: flex;
  column-gap: 15px;
  grid-row: auto;
}
/* .input-box label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 20px;
  color: black;
  font-weight: 500;
  pointer-events: none;
  transition: 0.5s;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label {
  top: -5px;
} */
.input-box label {
  font-size: 20px;
}

.input-box input {
  margin-top: 10px;
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 16px;
  color: black;
  font-weight: 500;
  padding: 0 35px 0 5px;
}

.form-btn {
  background-color: black;
  width: 100%;
  height: 45px;
  border-radius: 20px;
  margin: auto;
  margin-top: 4px;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  color: white;
  font-weight: 500;
}

.form-btn:hover {
  background-color: rgb(96, 115, 222);
}

.login-register {
  font-size: 12px;
  color: black;
  text-align: center;
  font-weight: 500;
  margin: 25px 0 10px;
}

.login-register p a {
  color: black;
  text-decoration: none;
  font-weight: 600;
}

.login-register p a:hover {
  text-decoration: underline;
}

/* END FORM*/

/* TABLE */
.table-container {
  width: 720px;
  background-color: #fff5;
  backdrop-filter: blur(7px);
  box-shadow: 0 0.4rem 0.8rem #0005;
  border-radius: 0.8rem;
  overflow: hidden;
  margin: auto;
}

.table__header {
  width: 100%;
  height: 10%;
  background-color: #fff4;
  padding: 0.8rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.table__header .input-group {
  width: 35%;
  height: 100%;
  background-color: #fff5;
  padding: 0 0.8rem;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
}

.table__header .input-group:hover {
  width: 45%;
  background-color: #fff8;
  box-shadow: 0 0.1rem 0.4rem #0002;
}

.table__header .input-group img {
  width: 1.2rem;
  height: 1.2rem;
}

.table__header .input-group input {
  width: 100%;
  padding: 0 0.5rem 0 0.3rem;
  background-color: transparent;
  border: none;
  outline: none;
}

.table__body {
  width: 95%;
  max-height: calc(89% - 1.6rem);
  background-color: #fffb;
  margin: 0.8rem auto;
  height: 400px;
  overflow-y: scroll;
  overflow: auto;
  border-radius: 0.6rem;

  /* overflow: overlay; */
}

.table__body::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

.table__body::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background-color: #0004;
  visibility: hidden;
}

.table__body:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}

table {
  width: 100%;
  background-color: #d5d1de72;
}

table,
th,
td {
  border-collapse: collapse;
  padding: 1rem;
  text-align: left;
}

thead th {
  position: sticky;
  top: 0;
  left: 0;
  background-color: #a8a5affe;
  cursor: pointer;
  text-transform: capitalize;
}
/* tbody{
  border: 4px solid black;
  border-radius: 0.8rem;
} */
tbody tr:nth-child(even) {
  background-color: #0000000b;
}

tbody tr:hover {
  background-color: #5057512a;
}

.status {
  width: max-content;
  padding: 4px 4px;
  text-align: center;
}
.done {
  background-color: #86e49d;
  color: #006b21;
}

.pending {
  background-color: #d893a3;
  color: #b30021;
}

.on-work {
  background-color: #ebc474;
  color: #8e7d12;
}

@media (max-width: 1000px) {
  td:not(:first-of-type) {
    min-width: 12.1rem;
  }
}

thead th:hover {
  color: #6c00bd;
}

thead th.active,
tbody td.active {
  color: #6c00bd;
}

/* END TABLE */

/* Media*/

@media (max-width: 992px) {
  .header {
    padding: 1rem 5%;
  }
}

@media (max-width: 768px) {
  .icons {
    display: inline-flex;
  }

  #check:checked ~ .icons #menu-icon {
    display: none;
  }
  #check:checked ~ .icons #close-icon {
    display: inline-flex;
  }
  .icons #close-icon {
    display: none;
  }
  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(50px);
    overflow: hidden;
    transition: 0.3s ease;
  }
  #check:checked ~ .navbar {
    height: 220px;
  }
  .navbar .btn-login {
    display: block;
    font-size: 16px;
    margin: 8px 0;
    /* text-align: center; */
  }
  .navbar a {
    display: block;
    font-size: 16px;
    margin: 8px 0;
    /* text-align: center; */
  }
}

/*========== PROPERTIES =========*/
.property {
  margin-top: 20px;
  padding-block: 35px;
  text-align: center;
  margin-block: 15px 60px;
}
.property-container {
  padding-inline: 15px;
}


.property-list {
  display: grid;
  gap: 30px;
}

.property-card {
  position: relative;
  border-radius: 12px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  transition: 0.25s ease;
  max-width: 400px;
  width: 80%;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(20px);
  margin: 40px;
}

.property-card:is(:hover, :focus-within) {
  box-shadow: 0 20px 25px -5px hsla(214, 19%, 29%, 0.1);
}

.property-card .img-cover {
  width: 120px;

}
.property-card .card-content {
  color: hsl(224, 34%, 13%);
  padding: 4px;
}

.property-card .card-title {
  font-size: 12px;
  transition: 0.25s ease;
}
.property-card .property-h3 {
  color: hsl(224, 34%, 13%);
  line-height: 1.5;
  font-size: 12px;
  font-weight: 500;
}

.property-card .card-title:is(:hover, :focus) {
  color: hsl(202, 86%, 51%);
}

.property-card .card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 10px 15px;
  padding-block: 30px;
  border-block: 1px solid hsl(220, 13%, 91%);
  margin-block: 30px;
  text-decoration: none;
  color: inherit;
  font-size: 12px;
}

.property-card .card-item {
  display: flex;
  align-items: center;
  gap: 5px;
}

.property-card .item-icon {
  color: hsl(202, 86%, 51%);
  font-size: 24px;
}

.property-card .item-icon ion-icon {
  --ionicon-stroke-width: 40px;
}

.property-card .card-meta {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.property-card .meta-title {
  color: hsl(215, 20%, 65%);
  margin-block-end: 10px;
}

.property-card .meta-text {
  font-size: 12px;
  font-weight: 500;
  display: flex;
  gap: 8px;
}

.property-card .rating-wrapper {
  display: flex;
  gap: 5px;
  color: hsl(43, 96%, 56%);
  font-size: 16px;
}

/*=========== Media Queries */

@media (min-width: 640px) {
  .container {
    max-width: 640px;
    width: 100%;
    margin-inline: auto;
  }
}

@media (min-width: 768px) {
  :root {
    --fs-2: 3rem;
  }

  .container {
    max-width: 700px;
  }

  .section-text {
    max-width: 55ch;
    margin-inline: auto;
  }

  .property-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 992px) {
  :root {
    --fs-1: 4.8rem;
    --section-padding: 40px;
  }

  .container {
    max-width: 900px;
  }

  .container {
    gap: 30px;
  }

  .property-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1120px;
  }
}

/** END PROPERTIES */
